/* JS controlled animations */

@keyframes toggle_button {
    0%{
        transform: translateX(0);
        /* margin-left: 0; */
    }

    100%{
        transform: translateX(100%);
        /* margin-left: 60%; */
    }
}

@keyframes toggle-bg {
    0%{
        background-color: #DED9D9;
    }
    100%{
        background-color:#3ACA48 ;
    }
}





/* COLOR MODE */



